*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  font-family: Arial, sans-serif;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}
.btns{
  margin: 20px;
  padding: 10px;
  
}
.btn{
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
}